@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <!--7. Customize the CSHTML <h2> element with text of your choosing-->
        <h2>Wuddup!</h2>

        <p>
            The current server time is @Model
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>